---
import Layout from "../../layouts/Layout.astro";
import { getBlog } from "../../libs/microcms";
const response = await getBlog();
const list = response.contents;
---

<Layout>
  <div class="search">
    <img
      src="src/assets/blog/search.png"
      style="width: 40px; height: 40px; margin: 10px;"
    />
    <div class="searchBox"></div>
  </div>

  <div class="bg">
    {
      list.map((data) => (
        <div class="underline">
          <div class="item "></div>
          <div class="item ">
            <p>{data.title}</p>
            <p>2025/XX/YY by </p>
            <p>#</p>
          </div>
        </div>
      ))
    }
  </div>
</Layout>

<style>
  .search {
    height: 60px;
    background-color: #98a786;
    display: flex;
  }
  .searchBox{
     height: 25px;
     width:80%;
     margin-top: 15px;
     background-color: #F8FAEF;
  }

  .underline {
    display: flex;
    border-bottom: 2px dashed #333; /*点線の色指定 */
  }

  .item {
    width: 200px;
    height: 150px;
  }

  .bg {
    height: 100%;
    background-color: #f8faef; /* 背景色指定 */
  }
</style>
