---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="bg">

    <div class="flex dashed-two">
     
      <div class="item ">
  
      </div>
      <div class="item ">
        
        <p>－－－について</p>
        <p>2025/XX/YY by A</p>
        <p>#html #test</p>
      </div>

    </div>
　
    <div class="flex dashed-two">

      <div class="item ">
      </div>
      <div class="item ">
      </div>

    </div>
  </div>
</Layout>
<style>
  .flex {
    display: flex;
  }
    .dashed-two {
  border-bottom: 2px dashed #333;/*点線の色指定 */
}
  .item {
    width: 200px;
    height: 150px;
  }

  .bg {
    height: 100%;
    background-color: #f8faef; /* 背景色指定 */
  }

</style>
