---
import Layout from '../../layouts/Layout.astro';
const list =[
{
title:"aadsd",
url:"test",
date:"2024-03-23",
ImageUrl:"test",
},
{
title:"qwdqd",
url:"test",
date:"2032-04-12",
ImageUrl:"src/assets/magazins/search.png",
}
];
var i=0;
---

<Layout>
<div class="all">
	<div class="search">
		<div class="searchping">
			<img src="src/assets/magazins/search.png"  style="width: 30px; height: auto;"/>
			<input type="text" name="sh" style="width: 300px;">
		</div>
	</div>

	<div class="main" >
    {list.map(data=>(
    	<div class="element" >
      <a class="content" href={list[i].url}>
      <img src={list[i].ImageUrl} class="img" />
      <p id="title">{list[i].title}</p>
      <p id="date">{list[i++].date}</p>
      </a>
      </div>
    ))}
	</div>
</div>

</Layout>



<style>
.all{
  background-color: #F8FAEF;
  height: 100%;
}
.search{
	background-color: #98A786;
	width: screen;
	height: 60px;
	border-bottom: 2px dashed #4C5B5C;
}
.searchping{
	height: 20px;
	position: absolute;
	top: 10px;
	left: 20px;
}
input{
background-color: #F8FAEF;
}

.element {
 margin-left: 30px;
 margin-right: 30px;
 height: 200px;
background-size: 12px 2px;
background-image: linear-gradient(to right, #4C5B5C, #4C5B5C 6px, transparent 6px, transparent 12px);
background-repeat: repeat-x;
background-position: left bottom ;
}
.element:hover{
	background-color: #D8EFF4;
}
.img{
  float:left;
  margin-top: 50px;
   width:100px; 
   height: auto;
}
.content{
  text-decoration:none;
}
#title{
color: #000000;
}
#date{
color: #4C5B5C;
}
</style>
