---
const {width="100px", height="100px"} = Astro.props;
---

<div class="contain">
  <div class="b1"></div>
  <div class="b2"></div>
  <div class="b3"></div>
  <div class="b4"></div>
  <div class="main">
    <slot/>
  </div>
</div>

<style define:vars={{width, height}}>
  .contain {
    position: relative;
    width: var(--width);
    height: var(--height);
  }

	.contain > * {
    position: absolute;
    height: 100%;
    width: 100%;
		clip-path: polygon(
      0 10px,
      5px 10px,
      5px 5px,
      10px 5px,
      10px 0px,
      calc(100% - 10px) 0px,
      calc(100% - 10px) 5px,
      calc(100% - 5px) 5px,
      calc(100% - 5px) 10px,
      100% 10px,
      100% calc(100% - 10px),
      calc(100% - 5px) calc(100% - 10px),
      calc(100% - 5px) calc(100% - 5px),
      calc(100% - 10px) calc(100% - 5px),
      calc(100% - 10px) 100%,
      10px 100%,
      10px calc(100% - 5px),
      5px calc(100% - 5px),
      5px calc(100% - 10px),
      0px calc(100% - 10px)
    );
	}

  .b1, .b2, .b3, .b4 {
    background-color: #4C5B5C;
  }

	.b1 {
		translate: -5px -5px;
	}
	.b2 {
		translate: 5px -5px;
	}
	.b3 {
		translate: -5px 5px;
	}
	.b4 {
		translate: 5px 5px;
	}

	.main {
    box-sizing: border-box;
		background-color: #F8FAEF;
    padding: 10px;
	}
</style>